html {
  scroll-behavior: smooth;
}

body {
  background-color: #666;
  color: #fcca89;
  overflow-x: hidden;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}
body::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(46, 57, 79);
  border-radius: 2rem;
}

.my-nav {
  z-index: 50;
}
.my-nav .navbar-brand img {
  width: clamp(5rem, 16.5vw, 10rem);
}
.my-nav.scrolled {
  background: rgba(46, 57, 79, 0.662);
  backdrop-filter: blur(1.25rem);
  -webkit-backdrop-filter: blur(1.25rem);
  box-shadow: 0 5px 5px rgba(51, 51, 51, 0.805);
  opacity: 0;
  animation: clear 0.5s ease-in-out forwards;
}
.my-nav.scrolled .nav-link {
  color: #ebe0be;
}
.my-nav.scrolled .navbar-brand img {
  height: 2.5rem;
  transition-timing-function: ease-in-out;
}
.my-nav .nav-link {
  color: #000000;
  position: relative;
  padding-bottom: 2px;
}
.my-nav .nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  bottom: 0;
  height: 2px;
  transition: all 0.5s cubic-bezier(0.03, 0.78, 0.4, 1.38);
  background-color: #c3ae6d;
  opacity: 0;
  transform: scaleX(0);
}
.my-nav .nav-link:hover {
  color: #c3ae6d;
}
.my-nav .nav-link:hover::after {
  opacity: 1;
  transform: scaleX(1);
}

.site-header {
  position: relative;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero_dektop.JPG) no-repeat;
  background-size: cover;
  overflow: hidden;
}
@media only screen and (max-width: 767.99px) {
  .site-header {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.05) 15%), url(../img/hero_mobile.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}
.site-header .hero-text {
  padding-top: 15rem;
  z-index: 5;
  color: #ffffff;
}
.site-header .hero-text h1 {
  font-weight: 400;
}
.site-header .hero-text h3 {
  font-weight: 500;
}
.site-header .hero-text h3 .bold {
  font-weight: 900;
}
.site-header #hero-couple {
  position: absolute;
  right: 0;
  bottom: 0;
  max-height: 80vh;
}
@media only screen and (min-width: 2560px) {
  .site-header #hero-couple {
    transform: scale(2) translate3d(-10rem, -10rem, 0);
  }
}

main {
  background-color: #000000;
}
main #details {
  position: relative;
  overflow-x: clip;
}
main .details-layout,
main .overlay {
  max-width: 100%;
  padding: 1rem;
  margin: 0;
}
main .details-layout {
  position: relative;
}
main .details-layout .top {
  position: absolute;
  left: 0;
  top: 0;
  width: 60%;
  border-top: 3px solid #fcca89;
}
main .details-layout .right {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 80%;
  border-right: 3px solid #fcca89;
}
main .details-layout .bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 60%;
  border-bottom: 3px solid #fcca89;
}
main .details-layout .left {
  position: absolute;
  left: 0;
  top: 0;
  height: 80%;
  border-left: 3px solid #fcca89;
}
main .floral-top {
  position: absolute;
  top: -9.5rem;
  right: -18.2rem;
}
@media only screen and (min-width: 1440px) {
  main .floral-top {
    scale: 1.1;
  }
}
@media only screen and (max-width: 1024px) {
  main .floral-top {
    scale: 0.9;
  }
}
@media only screen and (max-width: 768px) {
  main .floral-top {
    top: -12.5rem;
    right: -17.2rem;
    transform: scale(0.7) rotate(3deg);
  }
}
@media only screen and (max-width: 430px) {
  main .floral-top {
    top: -15.5rem;
    right: -18.2rem;
    transform: scale(0.4) rotate(15deg);
  }
}
@media only screen and (max-width: 320px) {
  main .floral-top {
    top: -15.5rem;
    right: -19.2rem;
    transform: scale(0.4) rotate(15deg);
  }
}
main .floral-bottom {
  position: absolute;
  left: -18rem;
  bottom: -15.5rem;
}
@media only screen and (min-width: 1440px) {
  main .floral-bottom {
    left: -21.2rem;
    bottom: -9.5rem;
    scale: 1.1;
    transform: rotate(6deg);
  }
}
@media only screen and (max-width: 1024px) {
  main .floral-bottom {
    bottom: -13.5rem;
    scale: 0.8;
  }
}
@media only screen and (max-width: 768px) {
  main .floral-bottom {
    bottom: -15.5rem;
    transform: scale(0.7) rotate(5deg);
  }
}
@media only screen and (max-width: 430px) {
  main .floral-bottom {
    bottom: -15.5rem;
    left: -20rem;
    transform: scale(0.5) rotate(17deg);
  }
}
@media only screen and (max-width: 320px) {
  main .floral-bottom {
    bottom: -15.5rem;
    left: -21rem;
    transform: scale(0.5) rotate(25deg);
  }
}
@media only screen and (min-width: 576px) {
  main .details-layout,
  main .overlay {
    max-width: 540px;
    padding: 3rem;
  }
}
@media only screen and (min-width: 768px) {
  main .details-layout,
  main .overlay {
    max-width: 720px;
    padding: 4rem;
  }
}
@media only screen and (min-width: 992px) {
  main .details-layout,
  main .overlay {
    max-width: 960px;
    padding: 5rem;
  }
}
@media only screen and (min-width: 1200px) {
  main .details-layout,
  main .overlay {
    max-width: 1140px;
    padding: 6rem;
  }
}
main .details-logo {
  max-width: 100%;
}
@media only screen and (max-width: 430px) {
  main .details-logo {
    max-width: 75%;
  }
}
main .wedding-date {
  font-size: 1.5rem;
}
@media only screen and (max-width: 767px) {
  main .pb-5 {
    padding-bottom: 2rem;
  }
}
@media only screen and (min-width: 768px) {
  main .pb-5 {
    padding-bottom: 3rem;
  }
}
@media only screen and (min-width: 992px) {
  main .pb-5 {
    padding-bottom: 4rem;
  }
}
@media only screen and (min-width: 1200px) {
  main .pb-5 {
    padding-bottom: 5rem;
  }
}
main .carousel-thumb-indicators {
  position: static;
}
main .carousel-thumb-indicators button[data-bs-target] {
  width: 6.25rem;
  height: 9.375rem;
}
main .multi-item-carousel .carousel-inner .carousel-item {
  height: 28.125rem;
}
main .multi-item-carousel .carousel-inner .carousel-item img {
  height: 100%;
  object-fit: cover;
}
main .multi-item-carousel .carousel-inner .active.left {
  left: -33%;
}
main .multi-item-carousel .carousel-inner .active.right {
  left: 33%;
}
main .multi-item-carousel .carousel-inner .next {
  left: 33%;
}
main .multi-item-carousel .carousel-inner .prev {
  left: -33%;
}
main .multi-item-carousel button.carousel-control-prev, main .multi-item-carousel button.carousel-control-next {
  height: fit-content;
  top: 50%;
}
main #rsvp .contacts-link {
  text-decoration: none;
  color: #fcca89;
}
main #rsvp .contacts-link:hover {
  text-decoration: underline;
}

footer {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/footer_image.svg") center no-repeat;
  background-size: cover;
  padding: 15vh 0;
}

@keyframes clear {
  to {
    opacity: 1;
    transform: none;
  }
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*# sourceMappingURL=styles.css.map */
